.root{
    -fx-background-color: rgb(227, 254, 252);
}

.button{
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-background-color:honeydew;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 10 10 10 10;
}

#menu{
    -fx-padding: 5;
    -fx-font-size: 27;
    -fx-font-family:"Lucida Sans";
    -fx-font-weight: 700;
}

.label-Titre {
    -fx-font-size: 20;
    -fx-font-family:"Lucida Sans";
    -fx-font-weight: 700;
}

.button-Objet {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5 5 5 5;
}

.button-Objet:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.button-Objet:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.67);
}

.label-Objet {
    -fx-font-size: 16;
}

.table-view {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5 5 5 5;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.label-Date {
    -fx-font-size: 14;
    -fx-font-family:"Lucida Sans";
    -fx-font-weight: 700;
    -fx-text-fill: white;
}